<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- <type name="X247Commerce\Delivery\Model\Carrier\CakeboxDelivery">
        <plugin disabled="false" name="X247Commerce_Delivery_Model_Shipping" sortOrder="100"
                type="X247Commerce\Delivery\Plugin\Model\ModifyCakeboxDelivery"/>
    </type> -->
</config>
