<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="storelocator_location_delivery_area_data_source" xsi:type="string">storelocator_location_delivery_area</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="storelocator_location_delivery_area" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">store_location_delivery_area</argument>
            <argument name="resourceModel" xsi:type="string">X247Commerce\StoreLocator\Model\ResourceModel\DeliveryArea</argument>
        </arguments>
    </virtualType>

</config>