<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="BssProductAttachmentGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="StoreLocatorLocationAreaGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">X247Commerce\StoreLocator\Model\ResourceModel\DeliveryArea\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">BssProductAttachmentGridFilterPool</argument>
        </arguments>
    </virtualType>
    <type name="X247Commerce\StoreLocator\Model\ResourceModel\DeliveryArea\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">store_location_delivery_area</argument>
            <argument name="eventPrefix" xsi:type="string">store_location_delivery_area_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">store_location_delivery_area_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">X247Commerce\StoreLocator\Model\ResourceModel\DeliveryArea</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="storelocator_location_are_listing_data_source" xsi:type="string">X247Commerce\StoreLocator\Model\ResourceModel\DeliveryArea\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
