<div class="store-location-picked">
    <div class="store-location-picked_title">
        <div class="store-location-picked_label"
              data-bind="i18n: 'Collection Details', attr: {title: 'Collection Details'}"></div>
        <span class="store-location-choose_button"
                  data-bind="i18n: 'Click and Collect', attr: {title: 'Click and Collect'},
           click: openMap"></span>
    </div>
    <div class="store-location-picked_content">
        <div class="store-location-address">
            <span data-bind="text: getStoreLocationSelectedData().name"></span>
            <span data-bind="text: getStoreLocationSelectedData().address"></span>
        </div>
        <div class="store-location-telephone">
            <span data-bind="text: getStoreLocationSelectedData().phone"></span>
        </div>
    </div>
    <div class="store-location-picked_footer">
        <div class="store-location-description">
            <span data-bind="text: getSchedulePickUpData()"></span>
        </div>
    </div>
    <div class="ampickup-field -store">
        <label class="label" data-bind="visible:labelVisible, text:label, attr:{for: uid}"></label>
        <div class="ampickup-wrapper">
            <select data-bind="attr: {id: uid},
                       options: options,
                       optionsValue: 'id',
                       optionsText: 'name',
                       optionsCaption: caption,
                       value: value,
                       event: {change: onChangeStore(value())};"
                    class="ampickup-store">
            </select>
            <span class="ampickup-separator -cart"></span>
        </div>
    </div>

</div>
