<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <deliverypopup>
            <general>
                <enable>1</enable>
                <search_radius>5</search_radius>
                <total_records>3</total_records>
            </general>
        </deliverypopup>
    </default>
</config>