/.editorconfig
/.grunt
/.htaccess
/.php_cs
/.php_cs.cache
/.php_cs.dist
/.user.ini
/*.sample
/app/.htaccess
/app/autoload.php
/app/bootstrap.php
/app/etc/NonComposerComponentRegistration.php
/app/etc/config.php
/app/etc/db_schema.xml
/app/etc/di.xml
/app/etc/env.php
/app/etc/registration_globlist.php
/app/etc/vendor_path.php
/bin/
/CHANGELOG.md
/COPYING.txt
/dev/
!/dev/tools/grunt/configs/themes-smile.js
/generated/
/grunt-config.json
/Gruntfile.js
/lib/
/LICENSE*
/node_modules/
/phpserver/
/pub/
/SECURITY.md
/setup/
/var/
/vendor/
/.npm

*.sql
*.gz
*.xz
/.idea/*
!/.idea/codeStyles
!/.idea/inspectionProfiles
!/.idea/saveactions_settings.xml
/.bash_history
/.mysql_history
/.ssh
/.rediscli_history
/.php-cs-fixer.dist.php

###> sql ###
/utils/*.sql
!/utils/ansible/roles/*/*/*.sql
###< sql ###
/*.sql
/*.zip