<!-- ko if: visible -->
<div class="ampickup-details-container ampickup-details shipping-address-details">
    <!-- ko if: displayTitle -->
    <div class="ampickup-title">
        <h2 data-bind="i18n: 'Delivery Address'"></h2>
    </div>
    <!-- /ko -->
    <div class="store-details">
        <p>
            <span data-bind="i18n: 'Delivering to'"></span>
            <!-- ko if: shippingAddressDetail() -->
                <span data-bind="text: shippingAddressDetail().postcode"></span>
            <!-- /ko -->
        </p>
        <p data-bind="i18n: 'This order will be delivered from'"></p>
        <div class="store-details">
            <p html="storeDetails()"></p>
            <!-- ko if: getSeletedStoreData() -->
            <span data-bind="i18n: 't:'"></span>
            <span data-bind="text: getSeletedStoreData().phone"></span>
            <!-- /ko -->
        </div>
    </div>
    <div class="ampickup-pickup-details">
        <div class="ampickup-pickup-date" data-bind="text: datePickup"></div>
        <div class="ampickup-pickup-time" data-bind="text: timePickup"></div>
    </div>
</div>
<!-- /ko -->
