<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="x247commerce_address_autocomplete" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
            <label>Customer address autocomplete</label>
            <tab>x247commerce</tab>
            <resource>X247Commerce_CustomerAddressAutocomplete::config_x247commerce_customeraddressautocomplete</resource>
            <group id="general" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                <label>General</label>
                <field id="google_api_key" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label" canRestore="1">
                    <label>Google api key</label>
                    <comment/>
                </field>

                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="50" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Allowed Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="51" showInDefault="1" showInWebsite="1">
                    <label>Allowed Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>

            </group>
        </section>
    </system>
</config>