<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">=
    <type name="Amasty\Storelocator\Controller\Adminhtml\Location\Save">
      	<plugin name="plugin_source_save" type="X247Commerce\StoreLocatorSource\Plugin\StoreSave"/>
    </type>
</config>