<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">=
    <type name="Amasty\Storelocator\Controller\Adminhtml\Location\Save">
      	<plugin name="plugin_source_save" type="X247Commerce\StoreLocatorSource\Plugin\StoreSave"/>
    </type>

    <preference for="Magento\User\Block\User\Edit\Tabs" type="X247Commerce\StoreLocatorSource\Block\User\Edit\Tabs" />
    <preference for="Magento\User\Controller\Adminhtml\User\Save" type="X247Commerce\StoreLocatorSource\Controller\Adminhtml\User\Save" />
    <!-- <preference for="Magento\InventoryAdminUi\Controller\Adminhtml\Source\Save" type="X247Commerce\StoreLocatorSource\Controller\Adminhtml\Source\Save" /> -->

    <type name="Magento\InventoryAdminUi\Ui\DataProvider\SourceDataProvider">
        <plugin name="assign_amstore_locator_id" type="X247Commerce\StoreLocatorSource\Plugin\AssignAmStoreLocatorData"/>
    </type>
    <type name="Magento\InventoryShippingAdminUi\Ui\DataProvider\SourceSelectionDataProvider">
        <plugin name="assign_source_to_order" type="X247Commerce\StoreLocatorSource\Plugin\AssignSourceToOrder"/>
    </type>

</config>