<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
<menu>
    <add id="X247Commerce_HolidayOpeningTime::holiday"
         title="Location Holiday"
         module="X247Commerce_HolidayOpeningTime"
         sortOrder="100"
         parent="Amasty_Storelocator::storelocator"
         action="x247commerce_holidayopeningtime/storelocationholiday/index"
         resource="X247Commerce_HolidayOpeningTime::store_location_holiday"
    />
</menu>
</config>
