& when (@media-common = true) {
    .nutritics-info-wraper {
    	width: 100%;

        .notice {
            display: block;
            text-align: left;
            margin-top: 15px;
        }
    }

    .table-nutritics-info {
    	width: 40%;

        tr:nth-child(even) {
          background-color: #eae7e4;
        }
    }

    .allergens-detail {
        font-weight: 700;
    }
    
    .ingredients-title {
        font-weight: 700;
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
}