<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<nutritics>
			<api_settings>
				<username></username>
				<password></password>
				<user_id></user_id>
				<limit>100</limit>
				<api_type>2</api_type>
				<filter_attribute>2</filter_attribute>
			</api_settings>
		</nutritics>
	</default>
</config>
