<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="get_nutritics_info" xsi:type="object">X247Commerce\Nutritics\Console\GetNutriticsInfo</item>
			</argument>
		</arguments>
	</type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="nutritic_listing_index_data_source" xsi:type="string">X247Commerce\Nutritics\Model\ResourceModel\NutriticsValue\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <!-- <virtualType name="nutritic_listing_index" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">nutritics_product_attribute_value</argument>
            <argument name="resourceModel" xsi:type="string">X247Commerce\Nutritics\Model\ResourceModel\NutriticsValue</argument>
        </arguments>
    </virtualType> -->
</config>