& when (@media-common = true) {
	.checkout-cart-index {
		.form-cart {
			.cart.table-wrapper {
				.cart {
					thead {
						tr {
							.col {
								font-size: 16px;
							    text-transform: uppercase;
							    text-align: left;
						        border-bottom: 1px solid #DBDBDB;
						        font-weight: normal;
							}
						}
					}

					tbody {
					    border-bottom: 1px solid #DBDBDB;

						.item-info {
							.col {
								vertical-align: middle;
								padding: 20px 8px 20px 0;

								.input-text {
									border: none;
								}

								&.action {
									width: 10%;

									.action-towishlist, .action-edit, .gift-options-cart-item {
										display: none;
									}

									.action-delete {
										width: 100%;
	    								text-align: center;

	    								&:before {
	    									content: '\e616';
	    									font-size: 14px;
	    								}
									}
								}

								.product-item-photo {
									img {
										width: 83px;
										margin: 0;
									}
								}

								.product-item-details {
									padding: 0;
									vertical-align: middle;

									.product-item-name {
										font-size: 16px;
										margin: 0;
									}
								}

								&.price, &.subtotal {
									.price-excluding-tax {
										font-size: 16px;
										text-align: left;
									}
								}

								&.price {
									.price-excluding-tax {
										.price {
											font-weight: normal;
										}
									}
								}

								&.subtotal {
									.price-excluding-tax {
										.price {
											font-weight: 600;
											color: #992E80;
										}
									}
								}
							}
						}
					}
				}
			}

			.main.actions {
				.clear {
					color: #000;
				}
			}
		}

		.cart-container .cart-gift-item, .cart-discount {
			display: none;
		}

		.cart-summary {
			.block.discount {
				background: #fff;
			    margin-top: -1px;
			    margin-left: -20px;
			    margin-right: -20px;

			    .fieldset {
			    	display: flex;
			    	margin: 0;

			    	.field {
			    		width: 80%;
			    		margin: 0;

			    		.input-text {
			    			padding: 17px 0 20px 24px;
						    height: 56px;
						    border-radius: 7px 0 0 7px;
						    background: #F6F6F6;
						    border: 0;
			    		}
			    	}

			    	.actions-toolbar {
			    		width: 20%;

			    		.primary {
			    			width: 100%;

			    			button {
		    				    height: 56px;
							    margin: 0;
							    width: 100%;
							    border: 0;
							    background: #992E80;
						        border-radius: 0 7px 7px 0 !important;

							    span {
							    	font-size: 14px;
							    	color: #fff;
							    	font-weight: normal;
							    }
			    			}
			    		}
			    	}
			    }
			}

			.summary.title {
				font-size: 22px;
				font-weight: 500;
				display: block;
			}

			.block.shipping {
				.title {
					strong {
						font-weight: normal;
					}
				}

				.content {
					font-size: 14px;
				}
			}

			.cart-totals {
				padding-top: 0;

				table {
					tbody {
						tr {
							font-size: 14px;

							th, td {
								padding: 25px 0;
							}

							&:first-child {
								th, td {
									padding-bottom: 0;
								}
							}
						}

						.grand.totals {
							font-size: 18px;
						}
					}
				}
			}

			.action.multicheckout {
				display: none;
			}
		}
	}
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.checkout-cart-index {
		.cart-container {
			padding: 0 15px;
			display: flex;
			flex-wrap: wrap;

			.cart-summary {
				display: flex;
    			flex-wrap: wrap;
    			margin-bottom: 0;
    			padding-bottom: 0;
    			order: 5;

				.block.discount {
					margin-left: 0;
					margin-right: 0;
					order: 2;
					padding-top: 15px;

					.content {
					    padding-left: 0;
    					padding-right: 0;
					}
				}

				.summary.title {
					padding-left: 15px;
					padding-top: 10px;
				}

				.block.shipping {
				    padding: 0 15px;

				    .title {
				    	padding-left: 0;
						padding-right: 0;
				    }
				}

				> div, > ul {
					width: 100%;
				}

				ul {
					margin-top: 0;
				}

				.cart-totals {
					border-top: none;

					.table-wrapper {
					    border-top: 1px solid #cccccc;
					}
				}
			}

			.form-cart {
				order: 1;
				width: 100%;

				.cart.table-wrapper {
					.cart {
						thead {
							tr {
								.col.delete {
									display: none;
								}
							}
						}

						tbody {
							.item-info {
								position: relative;

								.col {
									&:before {
										display: none;
									}

									&.action {
										position: absolute;
    									left: 0;
    									width: auto;
    									top: ~'calc((100% - 75px)/2)';
									}

									&.item {
										margin-right: 90px;
										min-height: 120px;

									    > .product-item-photo {
									    	left: 25px;
									    	top: 45px;
									    }

									    .product-item-details {
							    	        margin-left: 100px;
									    }
									}

									&.price {
										position: absolute;
										left: 100px;
										top: 70px;
									}

									&.qty {
									    position: absolute;
									    top: 100px;
									    bottom: 0;
									    left: 100px;
									}

									&.subtotal {
										position: absolute;
									    right: 0;
	    								top: 0;
	    								padding-right: 0;
	    								width: 25%;

	    								.price-excluding-tax {
	    									text-align: right;
	    								}
									}
								}
							}
						}
					}
				}

				.cart.actions {
				    align-items: flex-end;
				}
			}
		}
	}	
}

& when (@media-target = 'desktop'), (@media-target = 'all') {
    @media only screen and (min-width: @screen__m) and (max-width: (@screen__l - 1)) {
        .checkout-cart-index {
			.cart-container {
				.cart-summary, .form-cart {
					width: 100%;
				}
			}
		}
    }
}
