& when (@media-common = true) {
	.checkout-index-index {
		.ampickup-details-container {
			&.shipping-address-details {
				background-color: #F6F6F6;
				padding: 12px 20px 10px;
				color: #282828;
				font-size: 14px;
				font-weight: 600;
				.ampickup-title {
					border-bottom: 1px solid #DBDBDB;
					font-size: 18px;
					line-height: 25px;
					font-weight: 500;
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin: 0;

					h2 {
						margin: 0 0 10px;
						font-size: 20px;
						font-weight: 500;
					}

					.ampickup-collect-button {
						font-size: 11px;
						color: #992E80;
						font-weight: 600;
					}
				}

				.store-details {
					width: 100%;
					border-bottom: 1px solid #DBDBDB;
					padding: 12px 0;
					.amlocator-name {
						margin: 0 0 5px;
						font-size: 14px;
					}

					.amlocator-image {
						display: none;
					}
				}

				.ampickup-pickup-details {
					margin-top: 15px;

					> div {
						margin-bottom: 5px;
					}
				}
			}
		}

		.ampickup-store-container {
			&.-checkout {
				.ampickup-field {
					&.-store {
						display: none;
					}

					&.-date, &.-time {
						width: 100%;
						padding: 0;
						margin-bottom: 10px;
						.label {
							display: none;
						}

						.control {
							input[type="text"] {
								padding: 0 25px;
								background: #F6F6F6;
								border: none;
								height: 55px;
								line-height: 55px;
							}

							select {
								padding: 0 25px;
								background: #F6F6F6;
								border: none;
								height: 55px;
								line-height: 55px;
							}
						}
					}
				}
			}
		}

		.pickup-store-wrapper {
			margin-bottom: 20px;
			padding: 20px;
			background: #f6f6f6;

			.title {
				font-size: 20px;
				color: #282828;
				font-weight: 500;
				margin-bottom: 10px;
			}

			.amlocator-wrapper {
				.delivery-popup {
					margin-bottom: 10px;
					font-size: 14px;
					font-weight: 600;
				}

				input[type="text"] {
					height: 60px;
					font-size: 18px;
					padding-left: 25px;
				}

				.amlocator-store-desc {
					display: flex;
					justify-content: space-between;
					align-items: center;

					.amlocator-block {
						width: 75%;

						.amasty_distance, .distance.store.location, img {
							width: 90px;
							max-width: 90px;
						}

						.distance.store.location {
							.amasty_distance_number {
								font-size: 12px;
							}
						}

						.amlocator-title {
							font-weight: 400;
							font-size: 18px;
							text-transform: uppercase;
						}
					}

					.select.store {
						width: 25%;
						text-align: right;

						.select-location {
							background-color: #992E80;
							width: 68px;
							color: white;
							height: 34px;
							font-size: 14px;
							font-weight: 400;
						}
					}
				}
			}

			.select-collection {
				display: flex;

				.delivery {
					width: 33.33333%;

					input[type="radio"] {
						visibility: hidden;
						width: 0;
						height: 0;
						position: absolute;

						&:checked {
							+ .label {
								background-color: #af3b99;
							}
						}
					}
				}

				.free.delivery .label {
					border-radius: 0 0 0 10px;
				}	

				.express.delivery .label {
					border-radius: 0 0 10px 0;
				}

				.premium.delivery, .express.delivery {
					position: relative;
					border: 0;

					&:before {
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						height: 100%;
						width: 1px;
						background: #fff;
					}
				}

				.express.delivery {

				}

				.label {
					font-size: 16px;
					padding: 20px 10px 15px;
					background-color: #992E80;
					line-height: 1.1;
					letter-spacing: -0.56px;
					color: #fff;
					display: flex;
					width: 100%;
					justify-content: center;
					align-items: center;
					box-sizing: border-box;
					text-align: center;
					cursor: pointer;
				}
			}

			.amlocator-block.-separator {
				display: none;
			}
		}

		.logo {
			margin: 0;
		}

		.page-header .header.content {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		input[type="text"],
		input[type="password"],
		input[type="url"],
		input[type="tel"],
		input[type="search"],
		input[type="number"],
		input[type*="date"],
		input[type="email"],
		select {
			height: 50px;
			border-radius: 5px;
		}

		.page-main {
			max-width: 1200px;
		}

		.opc-wrapper {
			.form-shipping-address,
			.form-login {
				max-width: 100%;
			}

			.form-login {
				padding-bottom: 25px;

				.fieldset {
					margin-bottom: 0;
				}

				.actions-toolbar {
					display: flex;
					align-items: center;

					.secondary {
						margin-left: 10px;
					}
				}
			}
		}

		.step-title {
			font-weight: 500;
			color: #363A40;
			padding-bottom: 20px;
			border-bottom: 1px solid rgba(112, 112, 112, 0.28);
			margin-bottom: 25px;
		}

		.opc-block-summary {
			& > .title {
				font-size: 22px;
				font-weight: 500;
				padding-bottom: 3px;
			}

			.items-in-cart {
				& > .title {
					padding-top: 0;
					border-bottom: 1px solid #DBDBDB;
					margin-bottom: 20px;

					strong {
						font-size: 14px;
						font-weight: 400;
					}
				}
			}


			.minicart-items {
				.product-item-name {
					font-size: 12px;
					margin-bottom: 0;
				}

				.product-item-details {
					.details-qty {
						margin-top: 2px;
					}
				}

				.product-item {
					.product-item-inner {
						margin-bottom: 0;
					}
				}

				.product {
					.toggle {
						font-size: 12px;
					}
				}
			}
		}

		.form.methods-shipping input.input-text {
			height: 50px !important;
			width: 100%;
			margin: 0;
		}

		.pickup-store-wrapper {
			.select-collection {
				.label {
					font-size: 12px;
				}
			}

			.amlocator-wrapper {
				input[type="text"] {
					border-radius: 0;
				}
			}
		}

		.ampickup-store-container {
			.ampickup-field.-date .control {
				background: #F6F6F6;
				border-radius: 5px;
			}
		}

		.ampickup-store-container {
			.ampickup-options-container {
				margin-bottom: 0;
			}
		}

		.checkout-shipping-method {
			.actions-toolbar > .primary {
				float: left;

				.action.continue {
					min-width: 100px;
				}
			}
		}
	}
}

.media-width(@extremum, @break) when (@extremum ='min') and (@break = @screen__m) {
	.checkout-index-index {
		.opc-wrapper {
			width: 60%;
		}
	}
}

.media-width(@extremum, @break) when (@extremum ='max') and (@break = @screen__m) {
	.checkout-index-index {
		.custom-slide {
			position: relative;
			visibility: visible;
			opacity: 1;
			left: 0;

			.modal-inner-wrap{
				box-shadow: none;
				transform: none;

				.select-collection {
					.label {
						padding: 20px 2px;
						font-size: 14px;
					}
				}

				.amlocator-wrapper {
					input[type="text"] {
						font-size: 16px;
					}
				}
			}
		}

		.step-title {
			font-size: 28px;
		}
	}
}

& when (@media-target = 'desktop'), (@media-target = 'all') {
	@media only screen and (min-width: @screen__m) and (max-width: (@screen__l - 1)) {
		.checkout-index-index {
			.opc-sidebar, .opc-wrapper {
				width: 100%;
			}
		}
	}
}

& when (@media-target = 'desktop'), (@media-target = 'all') {
	@media only screen and (min-width: @screen__l) and (max-width: @screen__xl) {
		.checkout-index-index {
			.pickup-store-wrapper {
				.select-collection {
					.label {
						min-height: 90px;
					}
				}
			}
		}
	}
}