<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_feedback_process_index">
        <observer name="X247_recaptcha_feedback_before" 
        	instance="X247Commerce\Feedback\Observer\ProcessFeedbackBefore" />
    </event>
</config>
