& when (@media-common = true) {
    .product-not-available {
        font-size: 16px;
        color: #e02b27;
    }
    .available-location-list {
    	width: 100%;
        height: 200px;
        overflow: scroll;
        a {
            font-size: 16px;
        }
    }
    .checkout-index-index  {
        .ampickup-store-container {
            .ampickup-field.-date {
                .control {
                    position: relative;
                }
            }
            .ampickup-field.-time {
                .control {
                    position: relative;
                }
            }
        }
        svg {
            &.icon {
                position: absolute;
                right: 0;
            }
        }
        .select-time-icon {
            svg {
                position: absolute;
                right: 0;
            }
        }
    }
}
