<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<yext>
			<api_settings>
				<mode>2</mode>
				<type>1</type>
			</api_settings>
			<sync_settings>
				<delete_admin>1</delete_admin>
				<delete_source>1</delete_source>
			</sync_settings>
			<email_template>
				<create_user>yext_email_template_create_user</create_user>
			</email_template>
		</yext>
	</default>
</config>
