<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="import_yext_entity_id" xsi:type="object">X247Commerce\Yext\Console\ImportYextEntityId</item>
                <item name="sync_delivery_status" xsi:type="object">X247Commerce\Yext\Console\SyncDeliveryStatusFromYext</item>
                <item name="change_admin_username" xsi:type="object">X247Commerce\Yext\Console\ChangeAdminUsername</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="amstorelocator_location_holiday_hours_data_source" xsi:type="string">amstorelocator_location_holiday_hours</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="amstorelocator_location_holiday_hours" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">amasty_amlocator_holiday_hours</argument>
            <argument name="resourceModel" xsi:type="string">X247Commerce\Yext\Model\ResourceModel\HolidayHours</argument>
        </arguments>
    </virtualType>
</config>