<?xml version="1.0"?>
<!--
 * @author    Phung Thong <phung.thong@247commerce.co.uk>
 * @copyright 2022 247Commerce
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="X247Commerce_Yext" setup_version="1.0.0">
        <sequence>
            <module name="Amasty_Storelocator"/>
        </sequence>
    </module>
</config>
