<!--@subject Product inquiry Auto-Reply @-->

{{template config_path="design/email/header_template"}}

<p>{{trans "Hello"}}, {{var user_name }}</p>

<p>{{trans "Thanks for your request submitted at our store}}</p>

<p>{{trans "Here is what we've received from you:"}}</p>	
 
<table class="message-details">
 </tbody>
    <tr>
        <td><strong>{{trans "Name"}}</strong></td>
        <td>{{var user_name}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Email"}}</strong></td>
        <td>{{var user_email}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Message"}} </strong></td>
        <td>{{var message}}</td>
    </tr>
 </tbody>
</table>

<p>{{trans "We  will come back to shorly"}}</p>

<p><strong>{{trans "Thank You."}}</strong></p>
	
{{template config_path="design/email/footer_template"}}