<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<special_offer>
			<general>
                <enable>1</enable>
			</general>
            <popup>
                <message>Your free cupcake has been added to your basket!</message>
            </popup>
		</special_offer>
	</default>
</config>
