<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="X247Commerce\Checkout\Api\StoreLocationContextInterface" type="X247Commerce\Checkout\Service\StoreLocationContext"/>

    <type name="Magento\Checkout\Api\ShippingInformationManagementInterface">
        <plugin name="x247checkout_edit_checkout_location_context" type="X247Commerce\Checkout\Plugin\Checkout\Model\ShippingInformationManagementPlugin" sortOrder="20" disabled="false" />
    </type>

    <!-- rewrite amasty for save store pickup data -->
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="Amasty_StorePickupWithLocator::ShippingInformationManagementPlugin" disabled="true"/>
        <plugin name="x247checkout_checkout_amasty_storepickupwithlocator_shipping_information_management" type="X247Commerce\Checkout\Plugin\Checkout\Model\StorePickupShippingInformationManagementPlugin" sortOrder="20" disabled="false" />

    </type>

    <preference for="X247Commerce\Checkout\Api\StoreLocationContextInterface" type="X247Commerce\Checkout\Service\StoreLocationContext"/>

    <preference for="Amasty\CheckoutDeliveryDate\Model\ConfigProvider" type="X247Commerce\Checkout\Model\Config\DeliveryConfigProvider"/>


    <!-- Change delivery date value label -->
    <type name="Amasty\CheckoutDeliveryDate\Block\Sales\Order\Info\Delivery">
        <plugin name="x247checkout_change_delivery_value" type="X247Commerce\Checkout\Plugin\Checkout\DeliveryDate\DeliveryInfo" sortOrder="20" disabled="false" />
    </type>

    <type name="Magento\Quote\Model\QuoteAddressValidator">
        <plugin name="fix_quote_validator_error" type="X247Commerce\Checkout\Plugin\QuoteAddressValidator" disabled="false"  />
    </type>

    <type name="Magento\Checkout\CustomerData\DefaultItem">
        <plugin name="add_lead_delivery_data" type="X247Commerce\Checkout\Plugin\CustomerData\DefaultItem" disabled="false"  />
    </type>

    <preference for="Amasty\CheckoutCore\Block\Onepage\LayoutProcessor" type="X247Commerce\Checkout\Block\Onepage\LayoutProcessor" />

</config>
