<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_add_product_complete">
        <observer name="x247_update_store_location_to_quote" instance="X247Commerce\Checkout\Observer\Quote\UpdateStoreLocationSelected" />
    </event>
    <event name="sales_model_service_quote_submit_before">
        <observer name="x247_sales_model_service_quote_submit_before" instance="X247Commerce\Checkout\Observer\Quote\QuoteSubmitBefore" />
    </event>
    <event name="checkout_cart_product_add_before">
        <observer name="x247_validate_before_add_to_cart" instance="X247Commerce\Checkout\Observer\Cart\ValidateAddToCart" disabled="false"/>
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="inventory_sales_source_deduction_processor" disabled="true"/>
    </event>
    <event name="checkout_onepage_controller_success_action">
        <observer name="clear_session_and_http_context_after_order1" instance="X247Commerce\Checkout\Observer\Order\ClearAfterOrder" disabled="false"/>
    </event>

    <event name="sales_quote_merge_before">
        <observer name="x247_handle_after_quote_merged" instance="X247Commerce\Checkout\Observer\Quote\QuoteMergeHandler" disabled="false"/>
    </event>

    <event name="sales_order_place_before">
        <observer name="x247_validate_order_date_time_before_placing"
                  instance="X247Commerce\Checkout\Observer\Order\ValidateOrderDateTime" disabled="false"/>
    </event>
	<event name="sales_order_place_before">
        <observer name="custom_checkout_submit_all_after" instance="X247Commerce\Checkout\Observer\GetOrderDetails" disabled="false"/>
    </event>
</config>
