<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="X247Commerce_CustomerInquiry::inquiry" title="Customer Inquiry" module="X247Commerce_CustomerInquiry" sortOrder="100" action="customerinquiry/inquiry" resource="X247Commerce_CustomerInquiry::inquiry" parent="Magento_Customer::customer"/>
    </menu>
</config>