& when (@media-common = true) {
	.size_servings {
		.swatch-attribute-options {
			display: flex;
			flex-wrap: wrap;
		}

		.swatch-option.text {
			padding: 6px;
			background: #fff;
			float: unset;
			height: unset;
			border: 1px solid #B2B2B2;
			display: block;
			text-align: center;
			transition: all .3s;
			margin: 0 5px 5px 0;
			border-radius: 5px;
			min-width: 86px;
			box-sizing: border-box;

			&:last-child {
				margin-right: 0;
			}

			&:hover,
			.selected {
				background: #992E80;
				border: 1px solid #B2B2B2;
				outline: none;

				.option-label,
				.shape-label {
					color: rgba(255, 255, 255, 0.76);
					transition: all .3s;
				}

				.number-highline {
					color: #ffffff;
				}

				img {
					filter: brightness(0) invert(1);
				}
			}
		}

		img {
			transition: all .3s;
		}

		.number-highline {
			font-size: 20px;
			display: block;
			color: #363A40;
			transition: all .3s;
		}

		.option-label,
		.shape-label {
			font-size: 11px;
			color: rgba(54, 58, 64, 0.76);
			transition: all .3s;
			display: block;
		}

		.option-label {
			margin-bottom: 3px;
		}
	}

	.swatch-opt .swatch-attribute-label {
		font-size: 18px;
		font-weight: 500;
		color: #282828;
	}


	.product-options-wrapper {
		.field {
			&.textarea {
				.control {
					width: 100%;
				}

				textarea {
					border: 1px solid #CECECE;
					height: 78px;
					color: rgba(40, 40, 40, 0.61);
					padding: 10px 20px;
				}
			}
		}
	}
}