<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="x247ecommerce_move_sms_reminder_to_billing_address" type="X247Commerce\KlaviyoSMS\Plugin\Block\Checkout\LayoutProcessor" sortOrder="1000"/>
    </type>
</config>
