& when (@media-common = true) {
    a {
        transition: all 0.5s;
        &:hover {
            text-decoration: none;
        }
    }
    button {
        transition: all 0.5s;
        border: 0;
        border-radius: 5px;
    }
    .action.primary {
        background: #992E80;
        border-color: #992E80;
        color: #fff;
        font-weight: 500;
        font-size: 1.6rem !important;
        &:hover {
            background: #c14eaa;
            border-color: #c14eaa;
        }
        &:focus {
            background: #c14eaa;
            border-color: #c14eaa;
        }
        &:active {
            background: #c14eaa;
            border-color: #c14eaa;
        }
    }
    .action-primary {
        background: #992E80;
        border-color: #992E80;
        color: #fff;
        font-weight: 500;
        font-size: 1.6rem !important;
        &:hover {
            background: #c14eaa;
            border-color: #c14eaa;
        }
        &:focus {
            background: #c14eaa;
            border-color: #c14eaa;
        }
        &:active {
            background: #c14eaa;
            border-color: #c14eaa;
        }
    }
    a.action.primary {
        border-radius: 5px;
    }
}