@media (min-width: 768px) {
    .page-header .block-search {
        width: 360px;
        margin-right: 30px !important;
        margin-top: -5px;
    }

    .page-header .block-search input {
        height: 62px;
        background: #f6f6f6 !important;
        border: 0 !important;
        border-radius: 4px;
        color: rgba(0,0,0,0.4) !important;
    }
}

.block-search ::placeholder {
    color: rgba(0,0,0,0.4) !important;
    opacity: 1; /* Firefox */
}
  
.block-search :-ms-input-placeholder {
    color: rgba(0,0,0,0.4) !important;
}
  
.block-search ::-ms-input-placeholder {
    color: rgba(0,0,0,0.4) !important;
}

input:-webkit-autofill {
    background: #f6f6f6 !important;
 }

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f6f6f6 inset;
}

@media (min-width: 769px) {
    .navigation {
        background: #fff !important;
        width: 100% !important;
    }

    .navigation .level0 {
        margin-right: 0 !important;
        padding: 0 15px !important;
    }

    .page-header .header.content {
        max-width: 100% !important;
        width: 100% !important;
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    .logo {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .minicart-wrapper {
        margin-top: 13px !important;
        margin-left: 0 !important;
    }

    .block-search .action.search:before {
        line-height: 70px;
    }

    .block-search .action.search {
        right: auto !important;
        left: 30px !important;
    }

    .block-search input {
        padding-right: 20px !important;
        padding-left: 50px !important;
        font-size: 18px !important;
    }

    .block-search .action.search:before {
        content: url('../images/icon-search.png') !important;
    }

    .navigation .level0>.level-top:hover, .navigation .level0>.level-top.ui-state-focus {
        color: #ff9426 !important
    }
    
    .navigation .level0.active>.level-top, .navigation .level0.has-active>.level-top {
        border-color: #992e80 !important;
    }
}

.navigation .level0>.level-top {
    color: #333 !important;
    font-size: 18px !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.link.authorization-link {
    float: right;
    list-style: none;
    margin-right: 20px;
    margin-top: 13px;
}

.link.authorization-link a {
    font-size: 18px;
    color: #313039;
    font-weight: 400; 
    background: url('../images/icon-account.png') no-repeat left center;
    padding-left: 25px;
}

.link.authorization-link a:hover {
    text-decoration: none;
    color: #ff9426 !important;
}

.minicart-wrapper .action.showcart:before {
    content: url('../images/icon-basket.png') !important;
}

.minicart-wrapper a.action.showcart span.text {
    position: static !important;
    font-size: 18px;
    color: #313039;
    font-weight: 400;   
    padding-left: 5px; 
}

.minicart-wrapper a.action.showcart span.text:hover {
    color: #ff9426;
}

body {
    font-family: 'Poppins', sans-serif !important;
    font-size: 1.6rem !important;
}

._keyfocus *:focus, input:not([disabled]):focus,
textarea:not([disabled]):focus,
select:not([disabled]):focus {
    box-shadow: 0 0 0 transparent !important;
}

.navigation .level0.last:last-child a{
    background: url('../images/icon-location.png') no-repeat left center;
    padding-left: 20px !important;
}

.navigation .level0.last:last-child {
    margin-left: 15px !important;
}

.sections.nav-sections {
    margin: 0 50px;
    position: static;
    width: auto !important;
    background: #fff !important;
    box-sizing: border-box;
    padding-bottom: 20px;
}

@media (min-width: 1850px) {
    .sections.nav-sections {
        margin: 0;
        position: absolute;
        width: 52%;
        left: 260px;
        top: 26px;
        background: #fff !important;
    }
    .navigation .level0 {
        padding: 0 12px !important;
    }  
    
    .page-header .header.content {
        padding-bottom: 20px !important;
    }
}

@media (max-width: 1090px) {
    .navigation .level0 {
        padding: 0 10px !important;
    }     
}

.minicart-wrapper .action.showcart .counter.qty {
    position: absolute;
    top: -10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0;
    line-height: 20px;
    left: 10px;
    background: #992e80 !important;    
}

.actions-toolbar button.action.login.primary,
.actions-toolbar a.action.create.primary {
    width: 100%;
    height: 56px;
    line-height: 40px;    
}

.block.block-new-customer .actions-toolbar,
.login-container .actions-toolbar,
.login-container .actions-toolbar .primary,
.block.block-new-customer .actions-toolbar .primary {
    width: 100% !important;
}

@media (max-width: 767px) {
    .logo {
        position: absolute;
        float: none !important;
        margin: 0 auto !important;
        max-width: 100% !important;
        position: absolute !important;
        z-index: 5;
        left: 45%;
        transform: translateX(-45%);
        top: 25px;       
    }

    .page-header .header.content {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .header .block-search .label {
        display: none !important;
    }

    .header .block-search input {
        position: static !important;
        height: 50px;
        background: #f6f6f6 !important;
        border: 0 !important;
        border-radius: 4px;
        color: rgba(0,0,0,0.4) !important; 
        padding-right: 60px;       
    }

    .header .block-search .control {
        border-top: 0 !important;
    }

    .block-search .action.search {
        display: block !important;
        background: transparent;
        height: 25px;
    }

    .header .block-search {
        margin-top: 50px !important;
        clear: both;
    }

    .header .form.minisearch {
        position: relative;
    }

    .header .form.minisearch .actions button {
        position: absolute;
        right: 10px;
        top: 30px;
        background: url('../images/icon-search.png') no-repeat left top !important;
    }

    .header .form.minisearch .actions button.search span {
        display: none;
    }

    .minicart-wrapper {
        width: 30px !important;
        position: absolute !important;
        float: none !important;
        width: 30px;
        right: 60px;
    }

    .link.authorization-link {
        margin-right:  0 !important;
    }

    .logo img {
        width: 160px !important;
    }

    .nav-toggle {
        top: 25px !important;
    }

    .nav-toggle:before {
        color: #000 !important;
    }

    .link.authorization-link { 
        margin-top: 11px;
    }
}