& when (@media-common =true) {
	.cms-home {
		.footer-top-section {
			padding-top: 50px;
			padding-bottom: 105px;
			text-align: center;

			h5 {
				font-size: 45px;
				margin: 0;
				padding: 0 0 10px;
				font-family: 'GoldneyAlt-Regular';
				color: #992E80;
			}

			h2 {
				font-weight: bold;
				font-size: 48px;
				letter-spacing: -0.96px;
				padding-bottom: 42px;
				margin: 0;
				font-family: 'TiemposHeadline-Black';
			}

			p {
				font-size: 20px;
				line-height: 32px;
				padding-bottom: 25px;
				max-width: 959px;
				margin: auto;
			}
		}

		.columns {
			.column.main {
				padding-bottom: 0;
			}
		}
	}
}