.cms-page-view .main [data-content-type='row'][data-appearance='contained'] {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.cms-page-view .main a,
.cms-page-view .main h2,
.cms-page-view .main h3,
.cms-page-view .main h4,
.cms-page-view .main h5,
.cms-page-view .main h6 {
    color: #992e80;
}

.cms-page-view .main h2,
.cms-page-view .main h3,
.cms-page-view .main h4,
.cms-page-view .main h5,
.cms-page-view .main h6 {
    font-weight: 600;
}

.cms-page-view .main p {
    font-size: 16px;
}