& when (@media-common = true) {


	.page-products .products-grid .product-item {
		position: relative;
	}

	.abs-product-link>a,
	.product-item-name>a,
	.product.name a>a {
		font-size: 16px;
		color: #262626;
		transition: all 0.5s;
	}

	.abs-product-link>a:hover,
	.product-item-name>a:hover,
	.product.name a>a:hover {
		text-decoration: none;
		color: #992E80;
		transition: all 0.5s;
	}

	.products-grid .product-item-info:hover,
	.products-grid .product-item-info.active {
		border: none;
		box-shadow: none;
		margin: 0;
		padding: 0;
	}

	.products-grid .product-item-actions {
		margin: auto;
	}

	.products-grid .product-item-inner {
		background: inherit;
		border: inherit;
		box-shadow: none;
		right: 0;
	}

	.products-grid .product-item-info {
		width: 100% !important;
		position: relative;
	}

	.products-grid .product-image-container {
		width: 100% !important;
	}

	.products-grid .product-image-photo {
		width: 100% !important;
	}

	.product-item-actions .actions-primary+.actions-secondary>.action:last-child,
	.page-products .product-item-actions .actions-primary {
		display: none;
	}

	.products-grid .product-item-info:hover .product-item-inner,
	.products-grid .product-item-info.active .product-item-inner {
		margin: 0!important;
		padding: 0;
	}

	.product-item .action.towishlist:hover {
		color: #C14EAA;
	}

	.product-item-actions .actions-secondary>.action {
		color: #FFF;
	}
	.product-item .action.towishlist:before{
		font-size:23px;
		line-height:22px;
		width:32px;
	}
	
	.pages>.label {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
	}
	.pages .items {
		font-size: 0;
		letter-spacing: -1px;
		line-height: 0;
		white-space: nowrap;
		margin: 0;
		padding: 0;
		list-style: none none;
		display: inline-block;
		font-weight: 400;
	}

	.pages .item {
		font-size: 16px;
		line-height: 50px;
		letter-spacing: normal;
		margin: 0 8px 0 0;
		display: inline-block;
	}

	.pages .item .label {
		border: 0;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	.pages a.page {
		color: #282828;
		display: inline-block;
		padding: 0 5px;
		text-decoration: none;
		width: 20px;
		height: 50px;
	}

	.pages a.page:visited {
		color: inherit;
	}

	.pages a.page:hover {
		color: #992E80;
		text-decoration: none;
	}

	.pages a.page:active {
		color: inherit;
	}

	.pages strong.page {
		background: #992E80;
		font-size: 16px;
		line-height: 50px;
		letter-spacing: normal;
		color: #FFF;
		display: inline-block;
		font-weight: 400;
		padding: 0 5px;
		width: 50px;
		height: 50px;
	}

	.pages .action {
		background: #FFF;
		border: 0;
		color: #7d7d7d;
		display: inline-block;
		padding: 0;
		text-decoration: none;
	}

	.pages .action:visited {
		color: #7d7d7d;
	}

	.pages .action:hover {
		background: #dedede;
		color: #7d7d7d;
		text-decoration: none;
	}

	.pages .action:active {
		color: #7d7d7d;
	}

	.pages .action.next {
		display: inline-block;
		text-decoration: none;
	}

	.pages .action.next:visited:before {
		color: #7d7d7d;
	}

	.pages .action.next:active:before {
		color: #7d7d7d;
	}

	.pages .action.next>span {
		border: 0;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}



	.pages .action.next:hover:before {
		color: #7d7d7d
	}

	.pages .action.next:active:before {
		color: #7d7d7d;
	}

	.pages .action.previous {
		display: inline-block;
		text-decoration: none
	}
	.pages .action.next:before {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: 16px;
		line-height: inherit;
		color: #7d7d7d;
		content: '\e608';
		font-family: 'luma-icons';
		margin: 0;
		vertical-align: top;
		display: inline-block;
		font-weight: normal;
		overflow: hidden;
		text-align: center;
	}
	.pages .action.next:before {
		content: '';
		background:url(../images/icon-next.png);
		background-repeat: no-repeat;
		background-position: center;
		
		font-size: 0!important;
		width: 20px;
		height: 50px;
	}
	.pages .action.previous:before {
		content: '';
		background:url(../images/icon-next.png);
		background-repeat: no-repeat;
		background-position: center;
		transform: rotate(180deg);
		font-size: 0!important;
		width: 20px;
		height: 50px;
	}

	.pages .action.previous:active:before {
		color: #7d7d7d;
	}

	.pages .action.previous>span {
		border: 0;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	.pages .action.previous:before {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: 16px;
		line-height: inherit;
		color: #7d7d7d;
		content: '\e617';
		font-family: 'luma-icons';
		margin: 0;
		vertical-align: top;
		display: inline-block;
		font-weight: normal;
		overflow: hidden;
		text-align: center;
	}

	.pages .action.previous:hover:before {
		color: #7d7d7d;
	}

	.pages .action.previous:active:before {
		color: #7d7d7d;
	}

	.pages .action {
		box-shadow: none;
		border-radius: 3px;
		padding: 0 8px;
	}

	.pages .action.previous {
		margin-right: 8px;
	}

	.pages .action.next {
		margin-left: 8px;
	}


	

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

	.page-header .block-search{
		z-index:1;
	}
	.sections.nav-sections{
		z-index:0;
	}
	body:not(.wishlist-index-index) .products-grid .product-item-inner {

		width: 30px !important;
		height: 30px !important;
		position: absolute !important;
		top: 30px !important;
		right: 30px !important;
		left: inherit;
		z-index: 9;
	}
	
	
	.products-list{
		.product-item-info{
			position:relative;
		}
		.product-item-description{
				display:none;
		}

       .product-item-inner {
			position: absolute;
			left: 10px;
			top: 10px;
			z-index: 9;
		}
    }
	// List Banner
	.catalog-category-view {

		h1 {
			padding-bottom: 0px;
			margin-bottom: 10px;

			span {
				font-size: 46px !important;
			}
		}

		.pagebuilder-poster-content {
			p {
				font-size: 12px;
				color: #FFF;
				word-spacing: 2px;

				span {
					font-size: 12px;
					color: #FFF;
					word-spacing: 2px;
				}
			}
		}
	}
    .category-description ul,
	.category-description [data-content-type="text"]{

		display:none;
	}

	// Icons for list grid
	.filter-by {
		background: #fff url('../images/select-bg.svg') no-repeat 100% 45%;
		padding-right: 33px;
		font-size:14px;
		cursor:pointer;
		.filter-label{
				font-weight: 400;
		}
	}
	.page-products .sorter {
		position: static;
		display: flex;
		font-size:14px;
		align-items:center;
		
		.sorter-label{
			display:none;
		}
	}
	.page-products .page-main .toolbar .limiter{
	position: absolute;
    right: 400px;
	font-size:14px;
	}
	.toolbar {
		margin-top: 43px;
		margin-bottom: 43px;

		.sorter-action {
			display: none;
		}

		select {
			background-color: #FFF;
			border-radius: 0;
			font-size:14px
		}
	}

	.toolbar-amount {
		color: #363A40;
		font-size: 29px;
	}
	.page-products .products-grid .product-item .product-item-details{
			position:static;
	}
	.toolbar .toolbar .modes-mode:last-child,
	.modes-mode,
	.modes-mode.active {
		box-shadow: none;
		background: none;
		border: none!important;
		border-radius: 0;
	}
	.modes-mode:hover{
		background: none;
		border: none!important;
	}
	.mode-grid:before {
		content: '';
		background-image: url('../images/icon_grid.png');
		background-size: 16px;
		background-repeat: no-repeat;
		background-position: center;
		width: 16px;
		height: 16px;
	}

	.mode-list:before {
		content: '';
		background-image: url('../images/icon_list.png');
		background-size: 16px;
		background-repeat: no-repeat;
		background-position: center;
		width: 16px;
		height: 16px;
	}

	.modes {
		float: right;
		display: flex;
		flex-direction: row-reverse;
	}


	//item grid
	

	.toolbar select,
	.toolbar select:not([disabled]):focus {
		box-shadow: none;
		border: none;
	}

	.page-products .products-grid .product-item-inner:before {
		display: none;
	}

	.catalogsearch-result-index .sidebar,
	.catalog-category-view .sidebar {
		display: none;
	}

	.catalogsearch-result-index .column.main,
	.catalog-category-view .column.main {
		width: 100%;
		padding-left: 0;
	}

	.product-item .price-box .price {
		font-weight: 400;
		white-space: nowrap;
		font-size: 18px;
		color: #262626;
	}
	// Pagination

	.products.wrapper~.toolbar .limiter{
	   display:none;
	}
	.products.wrapper~.toolbar .pages{
	  float: inherit;
	}
	
	//Dektop filter
	.size_servings .swatch-attribute-options {
		overflow: auto;
		display: flex;
		flex-wrap: nowrap;
    
	}
	.size_servings  .filter-options-content a{
		margin-right:5px!important;
	}

	
}

//filter

.filter {
	&.active {
		.filter-title {
			border-bottom: 1px solid rgba(112, 112, 112, 10%);
			strong {
				width: 29px;
				height: 29px;
				background: #992E80;
				border-radius: 4px;
				color: #FFF;
				&:after {
					color: #FFF;
					font-size: 18px;
					font-weight: bold;
					line-height: 28px;
				}
			}
		}
	}
}
.block-subtitle {
	&.filter-subtitle {
		font-size: 26px;
		font-weight: 600;
		color: #363A40;
	}
}
.filter-options-title {
	text-transform: capitalize;
	font-weight: 600;
	color: #363A40;
	font-size: 18px;
	padding-left:0;
}
.filter.active .filter-options,
.filter.active .filter-title,
.filter.active .filter-subtitle {
	left: 20px;
	right: 20px;
	padding-left: 0;
}
.filter-options-item{
 border-bottom: 1px solid rgba(112, 112, 112, 10%);
 }

.filter-options-content {
    padding-left: 0;
	a {
		.swatch-option {
			&.text {
				border-color: #0000004D;
				background: #FFF;
				padding: 12px 15px;
				border-radius: 5px;
				font-size: 13px;
				font-weight: 400;
			}
		}
		&:hover {
			background:transparent;
			.swatch-option {
				&.text {
					border-color: #992E80;
					background: #992E80;
					color: #FFF;
				}
			}
		}
	}
}

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {

	
	.catalogsearch-result-index {
		.page-main {
			padding-right: 20px;
			padding-left: 20px;
		}
		.columns{
			position:inherit;
			padding-top: 0;
		}
		.products{
			margin-top: 0;
		}
	}
	.catalog-category-view {
		.page-main {
			padding-right: 20px;
			padding-left: 20px;
		}
		.columns{
			position:inherit;
			padding-top: 0;
		}
		.products{
			margin-top: 0;
		}
		.abs-product-link>a, .product-item-name>a, .product.name a>a, .product-item-name>a, .product.name a>a{
				font-size:14px;
		}
		.product-item .price-box .price{
			font-weight:400;
			font-size:17px;
		}
	}


	.sidebar.sidebar-main #layered-filter-block.filter.block {
		margin-bottom: 0;
		position: inherit;
		padding-left: 0px;

		.filter-title strong {
			top: 210px;
			right: 5%;
			left: unset;
		}

		&.active .filter-title strong{
			top: 10px;
			right: 0;
		}
	}
    .page-products .sorter,
    .catalogsearch-result-index .custom-topmenu-mobile,
 	.catalog-category-view .custom-topmenu-mobile,
    .catalogsearch-result-index .sidebar-additional,
	.catalog-category-view .sidebar-additional,
    .toolbar-amount,
	.modes 	{
		display: none;
	}
	
	.swatch-attribute.swatch-layered.size_servings .swatch-attribute-options{
		flex-wrap: nowrap;
		overflow-y: auto;
	}
	.size_servings .swatch-option.text:last-child {
		margin-right: 0;
		max-width: 86px;
	}
	.size_servings .swatch-option.text .size-number-value {
		font-size: 20px;
		font-weight:600;
	}
	.size_servings .swatch-option{
		margin-right:5px;
	}
    .abs-product-link>a,
	.product-item-name>a,
	.product.name a>a  {
		font-size: 14px;
		letter-spacing:-0.42pt;
	}
	.filter-title strong{
	    
		
	    background: rgba(153, 46, 128, 14%);
		background-image:url(../images/icon-filter.png);
		background-repeat: no-repeat;
        background-position: center;
		border:0px solid rgba(153, 46, 128, 14%);
		box-shadow:none;
		width:38px;
		height:38px;
		font-size:0;
		border-radius:50%;
		padding:0;
	}
	
	.category-description {
		[data-content-type="text"] {
			display: block;
			h2 {
				font-weight: 500;
				&:after {
					position: absolute;
					left: 20px;
					font-size:14px;
					line-height: 32px;
					font-family: 'pagebuilder-font';
					content: '\f103';
					color: #555555;
				}
			}
		}
		[data-content-type="banner"] {
			display: none;
		}
		ul {
		    background:url('../images/icon-arrow.png') no-repeat;
			background-size: 24px;
			background-position: right 22px top;
            background-size: 19px;
			display: flex;
			list-style: none;
			margin-left: 20px;
			align-items: center;
			flex-wrap: nowrap;
			overflow-y: auto;			
			padding: 27px 0 0 0;
			margin-bottom:0;
			
			a {
				padding: 7px 10px;
				border: 1px solid #EAEAEA;
				border-radius: 5px;
				font-size: 14px;
				color: #231D25;
				font-weight: 400;
				display: flex;
				align-items: center;
				vertical-align: middle;
				.icon {
					background: #EAEAEA;
					width: 29px;
					height: 26px;
					border-radius: 29px;
					text-align: center;
					margin-right: 3px;
					line-height: 29px;
					padding-top: 3px;
				}
				&:hover {
					background: #992E80;
					color: #FFF;
					.icon {
						background: #FFF;
						width: 29px;
						border-radius: 29px;
						text-align: center;
						line-height: 29px;
					}
				}
			}
			li {
				margin-right: 10px;
				&:nth-last-child(1) {
					margin-right: 0;
				}
			}
		}
	}

		
	body:not(.wishlist-index-index) .products-grid .product-item-inner {
		width: 30px !important;
		height: 30px !important;
		position: absolute !important;
		top: 12px !important;
		right: 16px !important;
		left: inherit;
		z-index: 9;
	}
		.products-grid .product-image-photo {
		border-radius:7px;
		}

	.product-item-actions .actions-secondary>.action{
		color: rgba(0, 0, 0, 38%)!important;
	}
}

