<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="X247Commerce_Yext::holiday"
             title="Location Holiday Hours"
             module="X247Commerce_Yext"
             sortOrder="40"
             parent="Amasty_Storelocator::storelocator"
             action="yext/holiday/index"
             resource="X247Commerce_Yext::holiday"
        />
    </menu>
</config>