<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ulmod\Productinquiry\Block\ProductinquiryLink" 
                type="X247Commerce\CustomUlmodProductinquiry\Block\ProductinquiryLink" />
</config>