<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="x247commerce_remove_order_images" xsi:type="object">X247Commerce\RemoveOrderImages\Console\RemoveOrderImages</item>
            </argument>
        </arguments>
    </type>
</config>
