<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <x247commerce_popupcrossel>
            <general>
                <enable>1</enable>
            </general>
        </x247commerce_popupcrossel>
    </default>
</config>