<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<virtualType name="X247Commerce\HolidayOpeningTime\Model\ResourceModel\StoreLocationHoliday\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">store_location_holiday</argument>
			<argument name="resourceModel" xsi:type="string">X247Commerce\HolidayOpeningTime\Model\ResourceModel\StoreLocationHoliday\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="store_location_holiday_listing_data_source" xsi:type="string">X247Commerce\HolidayOpeningTime\Model\ResourceModel\StoreLocationHoliday\Grid\Collection</item>
			</argument>
		</arguments>
	</type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="x247_correct_holiday_disable_status" xsi:type="object">X247Commerce\HolidayOpeningTime\Console\AutoDisableDeliveryCollection</item>
            </argument>
        </arguments>
    </type>
</config>
