<!--@subject {{trans "Reminder Mail"}}  @-->
<!--@vars {
"var event_date|raw":"Event Date",
"var occasion|raw":"Occasion",
"var their_name|raw":"Their Name",
"var customer_name|raw":"Customer Name"
} @-->

{{template config_path="design/email/header_template"}}
<div style="padding-bottom: 50px;">{{trans "Dear %_customer_name" _customer_name=$customer_name}}</div>
<div>
	{{trans 
	"We wanted to remind you of a special occasion that you have saved with us - %_their_name has an upcoming %_occasion on %_event_date! We know that celebrating your loved ones' milestones is important to you, and we would love to help make this %_occasion extra special with our mouth-watering cakes. "
	_their_name=$their_name
	_occasion=$occasion
	_event_date=$event_date
	}}
</div>
{{template config_path="design/email/footer_template"}}