//
//  Common
//  _____________________________________________

& when (@media-common = true) {

	.page-header .block-search {
		::placeholder {
			color: rgba(0, 0, 0, 0.3);
		}
	}

	.page-wrapper .custom-topmenu-mobile {

		padding-left: 20px;
		width: 100%;
    	box-sizing: border-box;

		.label-menu-mobile {

			font-size: 18px;
			color: #282828;
			font-weight: 700;
			position: relative;
			margin-bottom: 15px;

			&:after {

				position: absolute;
				right: 20px;
				font-family: 'pagebuilder-font';
				content: '\f102';
				color: #555555;
			}
		}

		.navigation {

			background: inherit;

			.ui-widget-content {

				display: flex;
    			flex-wrap: nowrap;
				overflow: scroll;

				&::-webkit-scrollbar {

					display: none;
				}

    			.level {
    				
    				border: none;

    				&:last-child {
    					border-bottom: none;
    				}

    				.ui-menu-item-wrapper {

    					padding: 6px 12px 6px 6px;
    					border: 1px solid #D9D9D9;
    					border-radius: 6px;
    					color: #231D25;
    					font-size: 14px;
    					text-transform: capitalize;
    					font-weight: 600;
    					margin-right: 10px;
    					display: flex;
    					align-items: center;

    					.image-category {

							display: none;
    						margin-right: 5px;
    					}

						span {

							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							position: relative;
							line-height: 29px;
							padding-left: 35px;
							font-size: 14px;
							font-weight: 400;
							&:after {
								content: '';
								width: 29px;
								height: 29px;
								border-radius: 50%;
								background: #EAEAEA;
								left: 0;
								position: absolute;
							}
						}
						&:hover {
							background: #992E80;
							color: #FFF!important;
							span {
								color: FFF;
								&:after {
									background: #FFF;
								}
							}
						}
    				}

    				&.active {

						.ui-menu-item-wrapper {
							
							background: #992E80;
							color: #ffffff;
							border-color: #992E80;

							.image-category {
								filter: brightness(10);
							}
						}
					}
    			}
			}
		}
		
		li {
		&.level {
			&.nav-1 {
				&.category-item {
					&.first {
						&.ui-menu-item {
							span {
								&:before {
									content: url(../images/category-cake.png);
									left: 6px;
									position: absolute;
									z-index: 9;
									top: 2px;
								}
							}
						}
					}
				}
			}
			&.nav-2 {
				&.category-item {
					&.ui-menu-item {
						span {
							&:before {
								content: url(../images/category-cake-slice.png);
								left: 6px;
								position: absolute;
								z-index: 9;
								top: 2px;
							}
						}
					}
				}
			}
			&.nav-3 {
				&.category-item {
					&.ui-menu-item {
						span {
							&:before {
								content: url(../images/category-cake-cheese.png);
								left: 6px;
								position: absolute;
								z-index: 9;
								top: 2px;
							}
						}
					}
				}
			}
			&.nav-4 {
				&.category-item {
					&.ui-menu-item {
						span {
							&:before {
								content: url(../images/category-cupcake.png);
								left: 6px;
								position: absolute;
								z-index: 9;
								top: 2px;
							}
						}
					}
				}
			}
			&.nav-5 {
				&.category-item {
						&.ui-menu-item {
							span {
								&:before {
									content: url(../images/category-party.png);
									left: 0px;
									position: absolute;
									z-index: 9;
									top: 0px;
								}
							}
						}

				}
			}
			&.nav-6 {
				&.category-item {
			
						&.ui-menu-item {
							span {
								&:before {
									content: url(../images/category-gift.png);
									left: 0px;
									position: absolute;
									z-index: 9;
									top: 0px;
								}
							}
						}
					
				}
			}
			&.nav-7 {
				&.category-item {
					&.last {
						&.ui-menu-item {
							span {
								&:before {
									content: url(../images/icon-location.png);
									left: 7px;
									position: absolute;
									z-index: 9;
									top: 5px;
								}
							}
						}
					}
				}
			}
			&.nav-8 {
				&.category-item {
					&.last {
						&.ui-menu-item {
							span {
								&:before {
									content: url(../images/icon-location.png);
									left: 7px;
									position: absolute;
									z-index: 9;
									top: 5px;
								}
							}
						}
					}
				}
			}
		}
	}
	}
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.custom-topmenu-mobile {
		display: none;
	}
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.page-header {
		border-bottom: none;
	}
}