& when (@media-common = true) {
	.cms-index-index.page-layout-1column {
		#maincontent {
			max-width: 90%;
			[data-content-type='row'][data-appearance='contained'] {
				max-width: 100%;
				.block-shop-now {
					.shop-now-title {
						font-size: 46px;
						margin-left: 14px;
						margin-bottom: 38px;
					}
					.toggle-content-shop-now {
						display: flex;
    					flex-wrap: wrap;
    					.item_shop_now {
    						margin-left: 14px;
    						margin-right: 14px;
    						margin-bottom: 61px;
    						.shop_now_img_main {
    							max-width: 298px;
    							max-height: 248px;
    						}
    						.item_shop_now_link {
    							font-size: 22px;
    							color: #333333;
    							text-decoration: none;
    							margin-top: 26px;
    						}
    					}
					}
				}
			}
		}
	}
}